@import url("shared/variables.css");
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #999; /* Opcional */
  margin: 25px auto; /* Opcional */
  width: 37rem;
  height: 34rem;
  border-radius: 20px;
}
h2 {
  margin-top: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #000000;
}
.linea-horizontal {
  border-bottom: 2px solid var(--primary-color);
  width: 60%;
  margin-top: 20px;
}
.linea-horizontal:last-child {
  margin-top: 60px;
}
img {
  margin-top: 60px;
  width: 100px;
  height: 100px;
}
p {
  margin-top: 60px;
}
button {
  width: 200px;
  height: 50px;
  padding: 10px;
  line-height: 0px;
  margin-top: 20px;
  border-radius: 10px;
  background: var(--primary-color);
  border: 0px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
