@import url(shared/variables.css);

body {
    margin: 0;
    padding: 0;
}

.inicio {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.galeria {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(202deg,
            #f08570 12%,
            #edb0b6 25%,
            #bd2da8 39%,
            #ec46a1 54%,
            #e6b9ba 71%,
            #f08570 88%);
    width: 100%;
}

.galeria img {
    width: 65%;
    height: calc(100% - 100px);
    object-fit: fill;
    border-radius: 20px;
}

.inicioSesion {
    display: flex;
    font-family: var(--secondary-font), sans-serif;
    color: #7f1f71;
    align-items: flex-start;
    width: 100%;
}

.login {
    position: relative;
    text-align: center;
    width: 100%;
}

h1 {
    color: var(--primary-color);
    font-size: 4rem;
    font-family: var(--primary-font), cursive;
    margin: 0 50px;
    font-weight: lighter;
    margin-top: 10px;
}

input {
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    width: 50%;
    min-width: 200px;
    color: var(--primary-color);
    font-size: large;
}

input:focus {
    border: 1px solid var(--secondary-color);
    outline: 0;
}

input::placeholder {
    font-size: large;
    padding-left: 10px;
    color: var(--primary-color);
}

p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 40px;
}

.form {
    color: #7f1f71;
}
.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}
#buscar {
    text-align: center;
    padding: 8px;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    color: white;
    background-color: #ec46a1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    letter-spacing: 1.5px;
    margin-left: 10px;
}
#cancelar {
    text-align: center;
    padding: 8px;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    color: black;
    background-color: var(--other-color-3);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    letter-spacing: 1.5px;
}

.far {
    font-size: 11px;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
}

hr {
    text-align: center;
    border: 1px solid #7f1f71;
    width: 50%;
    margin: 0;
}

footer .instagram {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-family: var(--secondary-font), sans-serif;
    color: #7f1f71;
    font-size: larger;
}

footer .instagram i {
    margin-right: 10px;
}

#crear-cuenta a,
#forgotten-password a {
    color: #7f1f71;
}

#crear-cuenta {
    margin-top: 5px;
}

#forgotten-password {
    display: block;
    text-align: center;
    width: 100%;
    color: #7f1f71;
    text-decoration: none;
    margin-top: 15px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    float: right;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 30px;
    margin-top: 30px;
}

/* iPads, Tabletas y dispositivos móviles */
@media all and (max-width: 768px) {
    .inicio {
        position: absolute;
        flex-direction: column;
        justify-content: flex-start;
    }

    .inicioSesion {
        flex-direction: column;
    }

    .galeria {
        display: none;
    }

    .galeria img {
        display: none;
    }

    .header {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
        background: linear-gradient(to right,
                #f9feec,
                #f55c3d,
                #ec46a1);
        padding: 10px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header h1 {
        font-size: xx-large;
        margin: 0;
    }

    .header p {
        margin: 0;
        width: 300px;
        font-size: 1rem;
    }

    .container h2 {
        font-size: large;
    }

    input::placeholder {
        font-size: small;
    }

    footer {
        position: relative;
        height: 2rem;
        width: 100%;
    }
}