@import url("shared/variables.css");

.encabezado {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  left: 1512px;
  top: 118px;
  background: linear-gradient(
    83deg,
    #f1f3fb 0%,
    #ebebeb 24%,
    #f08570 44%,
    #ec46a1 100%
  );
  margin-bottom: 20px;
}

h1 {
  text-align: start;
  color: #7f1f71;
  font-family: "Pacifico";
  font-weight: 400;
  font-size: 38.88px;
  margin-left: 49.41px;
}

h3 {
  font-family: "Source Sans Pro", sans-serif;
  color: #7f1f71;
  padding: 10px;
}

.switch-password {
  text-align: center;
}

input {
  width: 20%;
  border: solid 1px #7f1f71;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

input placeholder {
  color: #7f1f71;
}

#cambiar-password {
  text-align: center;
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  color: #ffff;
  background-color: #ec46a1;
  margin-top: 15px;
  margin-bottom: 16px;
  cursor: pointer;
}
