@font-face {
  font-family: "Pacifico";
  src: url(../fonts/pacifico/Pacifico-Regular.ttf);
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
}
:root {
  --primary-color: #7f1f71;
  --secondary-color: #ec46a1;
  --tertiary-color: #f9feec;
  --other-color-1: #f55c3d;
  --other-color-2: #4a145d;
  --other-color-3: #afa9a9;
  --primary-font: "Pacifico", cursive;
  --secondary-font: "Open Sans", sans-serif;
  --background-color: white;
}
body {
  margin: 0px;
  padding: 0px;
  background: var(--background-color);
  font-family: var(--secondary-font);
}
